.header {
    text-align: center;
    h1{
        margin: 30px auto;
        font-size: 3em;
    }
    overflow: visible;
}

.navigation {
    display: flex;
    max-width: 800px;
    margin: auto;

    overflow: visible;
    /* nav items */
    & > * {
        flex-grow: 1;
        font-size: 1.5em;
        text-decoration: none;
    }
}

.multi_item {
    display: inline;
    overflow: visible;
    position: relative;

    a:not(:first-child) {
        width: 100%;
        display: none;
        position: absolute;
        padding-top: .3em;
        color: gray;
    }
    a:first-child {
        display: block;
        z-index: 10;
        padding: top;
        color: inherit;
    }
    &:hover a:not(:first-child) {
        display: block;
    }
}

:global(.active){
    color: purple;
}