.header{
    text-align: center;
    h1{
        margin: 30px auto;
        font-size: 3em;
    }
    overflow: visible;
}

.navigation{
    display: flex;
    max-width: 800px;
    margin: auto;

    overflow: visible;
    /* nav items */
    & > * {
        flex-grow: 1;
        font-size: 1.5em;
        text-decoration: none;

        position: relative;
        overflow: visible;

        /* drop down links */
        & > * {
            display: none;
            position: absolute;
            width: 100%;
            padding-top: .3em;
            color: gray;
        }
        &:hover > * {
            display: block;
        }
    }
    :global(.active){
        color: purple;
    }
}