.art_display {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    & > div {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 3vw;
    }
}
