.overlay {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /*change padding to adjust space around image*/
    padding: 4vw;

    background: rgba(194, 194, 194, 0.4);

    z-index: 2;

    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    p {
        position: absolute;
        top: 0;
        right: 0;
        align-self: flex-end;
        font-size: 2rem;
        font-weight: 400;
    }
}

.button_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: black;
    height: 30px;
    overflow: clip;
    padding: 10px 10px 0;
    display: flex;
    justify-content: flex-end;

    svg {
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
}

.wrapper {
    position: relative;
    overflow: clip;
    max-width: 100%;
    max-height: 100%;
    
    img {
        position: relative;
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
}

.visible{
    display: flex;
}