.overlay {
    display: none;

    width: 100vw;
    height: 100vh;
    background: rgba(194, 194, 194, 0.4);
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 2;

    position: fixed;
    box-sizing: border-box;
    overflow: auto;
    padding: 50px 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    p {
        position: absolute;
        top: 0;
        right: 0;
        align-self: flex-end;
        font-size: 2rem;
        font-weight: 400;
    }

    & > div {
        max-width: calc(90% - 50px);
        max-height: calc(90% - 50px);
        position: fixed;

        display: fixed;
        justify-content: center;
        align-items: center;
    }
    
    img{
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
}

.visible{
    display: flex;
}